* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif; 
}

a {
    text-decoration: none;
    color: #1F2D3D;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url("./assets/img-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
}

.landing-title strong {
    display: block;
    font-family: "Poppins", sans-serif;
  }

.landing-title {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 1.25;
    text-align: right;
    color: #fff
}

.landing-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    line-height: 1.333333333333333;
    font-weight: bold;
    color: #FFFFFF;
    width: 160px;
    height: 52px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #FFFFFF ;
    border-radius: 16px;
}

.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFC82C;
}

.banner-title a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .banner {
        top: 0;
        bottom: auto;
      }
    
      .banner-title a {
        height: 80px;
        font-size: 18px;
      }

    .landing {
        align-items: center;
    }

    .landing-title {
        margin-bottom: 32px;
        font-size: 32px;
        text-align: center;
    }

    .landing-link {
        width: 180px;
        height: 56px;
        font-size: 18px;
    }
}
